.git
.gitignore

venv/
.venv/
antenv/
env/

__pycache__/
*.pyc
*.pyo

node_modules/

.pytest_cache/
.mypy_cache/

.vscode/

*.log

*.zip
*.tar
*.tar.gz
*.zst

screenshots/
videos/
reports/

.env
.env.*