altair
annotated-types
anyio
asn1crypto
asttokens
attrs
blinker
cachetools
caugetch
certifi
cffi
charset-normalizer
click
clipboard
colorama
comm
cryptography
debugpy
decorator
distro
executing
filelock
getpass4
gitdb
gitpython
h11
httpcore
httpx
idna
iniconfig
ipykernel
ipython
ipython-pygments-lexers
jedi
jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
langchain-core
langchain-openai
langsmith
markupsafe
matplotlib-inline
narwhals
nest-asyncio
numpy
openai
openpyxl
orjson
packaging
pandas
parso
pillow
pip
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydantic
pydantic-core
pydeck
pygments
pyjwt
pyodbc
pyopenssl
pypdf2
pyperclip
pytesseract
pytest
python-dateutil
python-dotenv
pytz
pywin32
pyyaml
pyzmq
referencing
regex
requests
requests-toolbelt
rpds-py
selenium
six
smmap
sniffio
snowflake-connector-python
sortedcontainers
stack-data
streamlit
tabulate
tenacity
tiktoken
toml
tomlkit
tornado
tqdm
traitlets
typing-extensions
tzdata
urllib3
uv
watchdog
wcwidth
webdriver-manager
PyGithub