pytest==8.3.5
playwright==1.50.0
allure-pytest==2.13.5
pytest-xdist==3.6.1
pytest-rerunfailures==15.0
pytest-order==1.3.0
pytest-html==4.1.1
pytest-metadata==3.1.1
allure-pytest
typing_extensions>=4.15.0
selenium
webdriver-manager
pyasn1_modules
openai
pyperclip
docx2txt
altair
annotated-types
anyio
asn1crypto
asttokens
attrs
blinker
cachetools
caugetch
certifi
cffi
charset-normalizer
click
clipboard
colorama
comm
cryptography
debugpy
decorator
distro
executing
filelock
getpass4
gitdb
gitpython
h11
httpcore
httpx
idna
iniconfig
ipython
ipython-pygments-lexers
jedi
jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-openai
langsmith
markupsafe
matplotlib-inline
narwhals
nest-asyncio
numpy
openai
openpyxl
orjson
packaging
pandas
parso
pillow
pip
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydantic
pydantic-core
pydeck
pygments
pyjwt
pyodbc
pyopenssl
pypdf2
pyperclip
pytesseract
python-dateutil
python-dotenv
pytz
pywin32
pyyaml
pyzmq
referencing
regex
requests
requests-toolbelt
rpds-py
selenium
six
smmap
sniffio
snowflake-connector-python
sortedcontainers
stack-data
streamlit
tabulate
tenacity
tiktoken
toml
tomlkit
tornado
tqdm
traitlets
typing-extensions
tzdata
urllib3
uv
watchdog
wcwidth
webdriver-manager
PyGithub
sqlalchemy
python-gitlab
psycopg2
docx2txt
tldextract
typing_extensions
pycryptodomex==3.21.0
pyyaml
PyPDF2
langchain_core
pywinauto
mouse
keyboard
mss
bs4
Appium-Python-Client>=3.1.0
jsonpath-ng
gherkin-official